<script>

    $("#btnsave").click(function(){
        console.log("Save Button Clicked");

    let output = "";

    let nm = $("#nameid").val();
    let em = $("#emailid").val();
    let pw = $("#passwordid").val();
    let csr = $("input[name=csrfmiddlewaretoken]").val();


    if(nm == ""){
        console.log("Please Enter Name");
    }
    else if(em == ""){
        console.log("Please Enter Email");
    }
    else if(pw == ""){
        console.log("Please Enter Password");
    }
    else{
        console.log(nm);
        console.log(em);
        console.log(pw);
        mydata  = {name: nm, email: em, password: pw,  csrfmiddlewaretoken:csr};

        $.ajax({
            url: "{% url 'save' %}",
            method: "POST",
            data: mydata,
            success: function(data){
                //console.log(data);
                x = data.student_data;
                if(data.status == 'Save'){

                    console.log("Form Submitted Successfully");
                    //console.log(data.student_data);
                    for(let i = 0; i< x.length; i++){
                        output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email
                            +"</td><td>"+ x[i].password + 
                                "</td><td><input type='button' data-sid="+x[i].id +" class='btn btn-warning btn-sm' value='Edit'>" + 
                                " <input type='button' data-sid="+x[i].id +" class='btn btn-danger btn-sm' value='Delete'> </td></tr>";
                     }

                     $("#tbody").html(output);
                    $("form")[0].reset();
                }
                if(data.status == 0){
                    console.log("Unable to Save Form");
                }
            },
        });
    }


    });

   



</script>