<script>

//insert data
    $("#btnsave").click(function(){
        console.log("Save Button Clicked");

    let output = "";
    let sid = $("#stuid").val();
    let nm = $("#nameid").val();
    let em = $("#emailid").val();
    let pw = $("#passwordid").val();
    let csr = $("input[name=csrfmiddlewaretoken]").val();


    if(nm == ""){
        console.log("Please Enter Name");
    }
    else if(em == ""){
        console.log("Please Enter Email");
    }
    else if(pw == ""){
        console.log("Please Enter Password");
    }
    else{
        console.log(nm);
        console.log(em);
        console.log(pw);
        mydata  = {stuid: sid, name: nm, email: em, password: pw,  csrfmiddlewaretoken:csr};

        $.ajax({
            url: "{% url 'save' %}",
            method: "POST",
            data: mydata,
            success: function(data){
                //console.log(data);
                x = data.student_data;
                if(data.status == 'Save'){

                    console.log("Form Submitted Successfully");
                    //console.log(data.student_data);
                    for(let i = 0; i< x.length; i++){
                        output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email
                            +"</td><td>"+ x[i].password + 
                                "</td><td><input type='button' data-sid="+x[i].id +" class='btn btn-warning btn-sm btn-edit' value='Edit'>" + 
                                " <input type='button' data-sid="+x[i].id +" class='btn btn-danger btn-sm btn-del' value='Delete'> </td></tr>";
                     }

                     $("#tbody").html(output);
                     $("#stuid").val("");
                    $("form")[0].reset();
                }
                if(data.status == 0){
                    console.log("Unable to Save Form");
                    $("#stuid").val("");
                    $("form")[0].reset();
                }
            },
        });
    }


    });

//Delete Data

$("#tbody").on("click", ".btn-del", function(){
    //console.log("Delete Button Clicked");
    let id = $(this).attr("data-sid");
    let csr = $("input[name=csrfmiddlewaretoken]").val();

   // console.log(id);
    mydata = {sid: id, csrfmiddlewaretoken: csr};
    trthis = this;


    $.ajax({
        url: "{% url 'delete' %}",
        method: "POST",
        data: mydata,
        success: function(data){
           // console.log(data);

           if(data.status == 1){
               console.log("Data Delete Successfully");
               $(trthis).closest("tr").fadeOut();
               //$(trthis).closest("tr").fadeOut();
           }
           if(data.status == 0){
               console.log("Unable Delete Data");
           }
        },
    });
});

//Editing Data

$("#tbody").on("click", ".btn-edit", function(){
    console.log("Edit Button Clicked");
    let id = $(this).attr("data-sid");
    let csr = $("input[name=csrfmiddlewaretoken]").val();

    mydata = {sid: id, csrfmiddlewaretoken: csr};

    $.ajax({
        url: "{% url 'edit' %}",
        method: "POST",
        data: mydata,
        success: function(data){
           console.log(data);
            
           $("#stuid").val(data.id);
           $("#nameid").val(data.name);
           $("#emailid").val(data.email);
           $("#passwordid").val(data.password);
        },
    });
});



   




</script>